.myWork {
    margin-top: 74px;
    margin-bottom: 90px;

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 320px) {
        margin-bottom: 72px;
    }

    &-header {
        background: $opacityGray;
        border-radius: 4px;
        color: $eggplant;
        padding: 16px 0 16px 25px;
        margin-bottom: 56px;
    }

    &-card {
        width: 500px;
        height: 292px;
        background: #FFFFFF;
        border: 1px solid rgba(148, 149, 151, 0.05);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        display: flex;

        @media (max-width: 560px) {
            flex-direction: column;
            width: 304px;
            height: 490px;
            padding: 16px 35px;

            >a {
                align-self: center;
            }

            &-image {
                overflow: hidden;
                width: 235px;
                height: 292px;
                border-radius: 4px;
            }
        }

        &-description {
            padding: 31px 42px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 560px) {
                padding: 16px 1px 0;
            }

            &-heading {
                color: $eggplant;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 16px;
            }

            &-paragraph {
                color: $black;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }

            &-link {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    &-wrapper-card {
        display: grid;
        grid-template-areas: "constructor shop"
            "courses tools";
        grid-gap: 64px 98px;

        @media (max-width: 1200px) {
            grid-template-areas: "constructor"
                "shop"
                "courses"
                "tools";
            grid-gap: 40px;
        }
    }

    &-constructor {
        grid-area: constructor;
    }

    &-shop {
        grid-area: shop;
    }

    &-courses {
        grid-area: courses;
    }

    &-tools {
        grid-area: tools;
    }
}

.imageAnimation {
    width: 235px;
    height: 292px;
    overflow-y: clip;
}

.imageAnimation img {
    transition: all 1s ease-out;
}

.imageAnimation img:hover {
    transform: scale(1.1);

}