.nav {
    &-item {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        text-decoration: none;
    }

    :not(:last-child) {
        margin-right: 50px;
    }
}