.search {

    &-img {
        width: 14px;
        height: 14px;
        margin-right: 17px;
    }

    &-btn {
        border: none;
        background: none;
        font-family: inherit;
        color: #ffffff;
        font-weight: 400;
        font-size: 17px;
        line-height: 23px;
    }
}