@import "_header.scss";
@import "_nav.scss";
@import "_search.scss";
@import "_main-content.scss";
@import "block-description.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-image: url(img/main.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1760px;
    margin: 0 auto;
}